openapi: 3.0.0
info:
  description: storage open api
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Storage open api
  version: 1.0.0
servers:
- url: https://api.xres.lucfish.com/
tags:
- description: credentials
  name: credentials
paths:
  /oss/credentials:
    post:
      description: 获取上传凭证 credentials
      operationId: create
      requestBody:
        $ref: '#/components/requestBodies/CreateUploadCredentialsReq'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUploadCredentialsRsp'
          description: successful operation
      security:
      - Signature:
        - write:credentials
        - write:credentials
      summary: 获取上传凭证 credentials
      tags:
      - credentials
      x-contentType: application/json
      x-accepts: application/json
components:
  requestBodies:
    CreateUploadCredentialsReq:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateUploadCredentialsReq'
  schemas:
    CreateUploadCredentialsReq:
      example:
        extra: '{}'
        channel: channel
      properties:
        channel:
          type: string
        extra:
          type: object
      type: object
    CreateUploadCredentialsRsp:
      example:
        msg: msg
        code: 0
        data: '{}'
      properties:
        code:
          format: int32
          type: integer
        msg:
          type: string
        data:
          type: object
      type: object
  securitySchemes:
    Signature:
      scheme: signature
      type: http

